/* ------------Google Font Imports------------ */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Rubik+Glitch&display=swap");


/* ------------Tailwind Component Imports------------ */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* --------------Custom Styles-------------- */

/* Headline Styles */


/* ----Event Controllers---- */

.dialogue-container {
    pointer-events: none;
}

.goalstrip-container {
    pointer-events: none;
}

.stopwatch-container {
    pointer-events: none;
}


/*----DOM Container Management---- */

#root {
    z-index: 0;
}

#portal-root-shiftingbox {
    z-index: 5;
}

#portal-root-counter {
    z-index: 5;
}

#portal-root-dialogue {
    z-index: 5;
}

#portal-root-stopwatch {
    z-index: 5;
}

/*----Static Styles---- */

.shifting-box-container {
    box-sizing: border-box;
}

.shifting-box {
    width: auto;
    aspect-ratio: 1 / 1;
    transition: top 0.025s linear, left 0.025s cubic-bezier(0, .8, 0, .2);
}

.textShadow {
    text-shadow: 3px 3px 2px rgba(0, 0, .1, .3);
}
